@import "../../material-colors.scss";

.button {
    color: $primary-color;
}

.mat-column-row_number {
    flex: 0 1 5%;
}

.mat-column-diagnosi,
.mat-column-openDettaglio {
    flex: 0 1 10%;
}

.mat-column-cognome,
.mat-column-nome {
    text-align: center;
    flex: 0 1 15%;
}

.mat-column-openDettaglio,
.mat-column-diagnosi,
.mat-column-data_inserimento {
    justify-content: center;
}

.tabella {
    padding: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
}